.profile {
  display: flex;
}

@media screen and (max-width: 600px) {
  .profile {
    justify-content: center; 
    padding-bottom: 36px;
    flex-direction: row;
    flex-wrap: nowrap;}
    }


@media screen and (max-width: 450px) {
  .profile {
    flex-direction: column;
    margin: auto;
    align-items: center;
    }
}
