.profile__info {
  max-width: 336px;
  margin-top: 22px;
  margin-left: 30px;
  overflow: hidden;	
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (max-width: 700px) {
	.profile__info  {
    max-width: 250px;
  }
}

@media screen and (max-width: 450px) {
	.profile__info  {
	  justify-content: center;
	  position: relative;
	  margin: 26px 0 0;
	}
}
 