.profile__info {
	display: flex;
    flex-wrap: wrap;
    align-items: baseline;
	margin-top: 22px;
	margin-left: 30px;
	max-width: 360px;
}

@media screen and (max-width: 450px) {
	.profile__info  {
	  justify-content: center;
	  position: relative;
	  max-width: 336px;
	  margin: 26px 0 36px;
	}
}
 